<%- layout('boilerplate') %>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">Admin Access</h1>
            <p class="lead mb-4">Please choose to sign up or sign in as an admin.</p>
            <div class="d-grid gap-3">
                <a href="/api/v1/admin/signup" class="btn btn-primary btn-lg">Signup as Admin</a>
                <a href="/api/v1/admin/signin" class="btn btn-secondary btn-lg">Signin as Admin</a>
            </div>
        </div>
    </div>
</div>
