<%- layout('boilerplate') %>

<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <h3>Create New Course</h3>
        <form method="post" action="/api/v1/admin/course" class="needs-validation mt-4" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter title" required>
                <div class="invalid-feedback">Please enter a title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <input type="text" id="description" name="description" class="form-control" placeholder="Enter description" required>
                <div class="invalid-feedback">Please enter a description</div>
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">imageUrl</label>
                <input type="text" id="imageUrl" name="imageUrl" class="form-control" placeholder="Enter imageUrl" required>
                <div class="invalid-feedback">Please enter an imageUrl</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">price</label>
                <input type="text" id="price" name="price" class="form-control" placeholder="Enter price" required>
                <div class="invalid-feedback">Please enter a price</div>
            </div>
            <br>
            <button class="btn btn-success">Create Course</button>
            <br>
        </form>
    </div>
</div>


